@font-face {
    font-family: 'Bungee';
    src: url('Bungee-Regular.woff2') format('woff2'),
        url('Bungee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

