@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-bungee: 'Bungee', sans-serif;
  --font-righteous: 'Righteous', cursive;
  --font-sans: 'Montserrat', sans-serif;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}
